# read build time once On Connect
record(longin, "$(P):C_") {
    field(DTYP, "FEED On Connect")
    field(INP,  "@name=$(NAME)")
    field(SCAN, "I/O Intr")
    field(FLNK, "$(P)_")
}
record(longin, "$(P)_") {
    field(DESC, "$(REG) (POSIX seconds)")
    field(DTYP, "FEED Register Read")
    field(INP,  "@name=$(NAME) reg=$(REG)")
    # TODO: dset to copy VAL -> TIME
    field(FLNK, "$(P):T_")
}
record(ai, "$(P):T_") {
    field(DTYP, "Copy VAL 2 TIME")
    field(TSE,  "-2")
    field(INP,  "$(P)_")
    field(FLNK, "$(P)")
}
record(stringin, "$(P)") {
    field(DESC, "$(REG) (human-readable)")
    field(DTYP, "Soft Timestamp")
    field(INP,  "@%Y-%m-%d %H:%M:%S")
    field(TSEL, "$(P):T_.TIME")
}
