record(bo, "$(P)Marble:PPS:Local") {
    field(DESC, "Enable/Disable local PPS marker")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=MARBLE:PPS:LOCAL:CSR")
    field(ZNAM, "Disable")
    field(ONAM, "Enable")
}
record(mbbo, "$(P)Marble:MGTCLK0") {
    field(DESC, "Set MGTCLK0 source")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=MARBLE:mgtRefClk0")
    field(ZRVL, "0")
    field(ZRST, "Ext0")
    field(ONVL, "1")
    field(ONST, "Ext1")
    field(TWVL, "2")
    field(TWST, "FPGA_REFCLK0")
    field(THVL, "3")
    field(THST, "SI570")
    field(FRVL, "4")
    field(FRST, "FMC1_GBTCLK0")
    field(FVVL, "5")
    field(FVST, "FMC1_GBTCLK1")
    field(SXVL, "6")
    field(SXST, "FMC2_GBTCLK0")
    field(SVVL, "7")
    field(SVST, "FMC2_GBTCLK1")
    field(EIVL, "8")
    field(EIST, "Disable")
}
